:root {
    --gold: #FFD700;
    --black: #000000;
    --dark-gold: #DAA520;
    --light-gold: #FFDF5E;
    --gray: #333333;
    --white: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background-color: var(--white);
    color: var(--black);
}

/* Navigation Bar */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.7);
    height: 70px;
}

.navbar p{
    color: var(--gold);
    font-weight: bold;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
    margin-right: 10px;
}

.logo span {
    color: var(--gold);
    font-weight: bold;
    font-size: 1.2rem;
}

.nav-links {
    display: flex;
}

.nav-links a {
    color: var(--white);
    text-decoration: none;
    margin: 0 15px;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: var(--gold);
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: var(--white);
    margin: 5px;
    transition: all 0.3s ease;
}